<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/static/style.css">
    <title>Not Found</title>
</head>

<body>
    <div class="min-h-screen bg-[url(/static/grid.svg)]">
        <div class="m-auto flex min-h-screen w-[80%] flex-col justify-center">
            <main
                class="my-4 flex flex-col self-center rounded bg-white p-6 text-center shadow-xl ring-1 ring-gray-200 sm:w-[100%] md:w-[40%]">
                <h2 class="my-4 text-8xl font-bold text-gray-800">404</h2>
                <h6 class="text-lg">Krutz seem can't find the url you looking for...</h6>
                <a href="/" class="text-blue-600 transition-colors duration-150 hover:text-blue-800 hover:underline">Go
                    back to Home?</a>
            </main>
        </div>
    </div>
</body>

</html>
